// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Reference: http://bootsnipp.com/snippets/M2Q19

.card {
  background:#FFF;
  display: block;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border:1px solid #AAA;
  border-bottom:3px solid #BBB;
  padding:0px;
  margin-top:5em;
  overflow:hidden;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.card-body{
  margin:1em;
}

.card-header{
  width:100%;
	color:#2196F3;
  border-bottom:3px solid #BBB;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  padding:0px;
  margin-top:0px;
  overflow:hidden;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}
.card-header-blue{
  background-color:#2196F3;
  color:#FFFFFF;
  border-bottom:3px solid #BBB;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: 'Roboto', sans-serif;
  padding:0px;
  margin-top:0px;
  overflow:hidden;
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.pull-left {
  float: left;
}

.card-heading {
  display: block;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 6px;
  margin-left:1em;
  border-bottom: 1px #2196F3;
  color:#fff;
}

.username{
  color: #fff;
  margin-left: 2em;
}

.card-content{
  width: 100%;
}
